/* start Body */
body {
    /*property*/
    background-color: burlywood;
    color: #24292e;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */

/* start Debug */

/*End Debug */
.bg-blue{
    background-color: blue;

    
}

/* star container*/
.container{
    margin: 10px auto;
    overflow: auto;
    width:90%;

}
/* end container */      
    
/* star logo */
.logo {        
    text-align: center;
}       
/* End logo */

/* star anchor /Hyperlink */
a: link,
a:visited {
    columns: #035603;
    text-decoration: none;     
}
a:hover,
a:active {
    color:#000000;
    text-decoration: underline;
}
/*star menu primer */
.menu-primer ul {
background-color: #333333;
border-radius: 4px;
box-shadow:
    0 3px 5px -Ipx rgba(0,0,0, .2),
    0 6px 10px 0 rgba(0,0,0, .14),
    0 1px 18px 0 rgba(0,0,0, .12);
}
.menu-primer li{
    border-right: 1px solid #24292e;
    display: inline-block;

}        

.menu-primer a {
     color: #ffffff;
     font-size: 13px;
     display: inline-block:
     letter-spacing: 1px;
     padding: 10px 20px;
     text-transform: uppercase;    
}

.menu-primer a:hover{
    background-color: #f7f7f7;
    color: #000000;
    text-decoration: none;

}

.menu-primer .active:{
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
    
}
/* End menu primer */     

/* star Heading */
h1, h2, h3,h4,h5,h6 {
    font-weight: 400;
    letter-spacing:  1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}    
h3 {
    font-size: 18px;

}    
h4 {
    font-size: 16px;     

}    
h5 {
    font-size: 14px;   

}    
h6 {
    font-size: 13px;
}
/* End Heading */      